@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/*geral*/
html{
   background-color: rgb(250, 249, 249);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
   display: block;
   justify-content: center;
}

.imagem{
    display: block;
    position: fixed;
    left: 260px;
}

h1{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
}

.princ{
    background-color: white;
    border: 1px solid rgb(155, 153, 153);
    width: 300px;
    display: block;
    text-align: center;
    height: 350px;
    position: fixed;
    top: 87px;
    right: 410px;
}

/*elementos internos principais*/

input{
    border: 1px solid rgb(204, 204, 204);
    padding: 12px;
    margin: 2px;
    background-color: rgb(255, 252, 248);
    border-radius: 3px;
}

.botom{
    text-decoration: none;
}

.a{
    border: 1px solid blue;
    background-color: blue;
    padding: 4px;
    display: block;
    position: fixed;
    width: 257px;
    right: 420px;
    top: 317px;
    margin: 6px;
    color: white;
    border-radius: 6px;
}

.ou{
    position: fixed;
    right: 550px;
    top: 276px;
    
}

.linha{
    width: 100px;
    border: 0.7px solid rgb(175, 175, 175);
    position: fixed;
    top: 300px;
    right: 590px;
}

.horizontal{
    width: 100px;
    border: 0.7px solid rgb(175, 175, 175);
    position: fixed;
    top: 300px;
    right: 432px;
}

.five-icon{
    position: fixed;
    right: 640px;
}

.b{
    position: absolute;
    top: 280px;
    width: 200px;
    right: 40px;
    color: rgb(5, 5, 124);
}

.c{
    position: absolute;
    top: 320px;
    right: 90px;
    font-size: 12px;
    color: blue;
}

/*segundo bloco e elementos*/

.dados{
    background-color: white;
    border: 1px solid rgb(155, 153, 153);;
    width: 300px;
    display: block;
    text-align: center;
    position: fixed;
    top: 450px;
    right: 410px;
}

.d{
    text-decoration: none;
    color: blue;
}

/*botões finais*/

.obter{
    position: fixed;
    bottom: 115px;
    right: 480px;
}

.app{
    position: fixed;
    top: 550px;
    right: 450px;
}

@media (max-width: 1070px) {

    
        .imagem{display: none;}

        .princ, input{
            display: block;
        }
    
    
}

